/* #E27D60 rgba(226,125,96,1.0)*/
/* #133C55 rgba(19,60,85,1.0)*/
/* #386FA4 rgba(56,111,164,1.0)*/
/* #59A5D8 rgba(89,165,216,1.0)*/
/* #84D2F6 rgba(132,210,246,1.0)*/
/* #91E5F6 rgba(145,229,246,1.0)*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.filler {
	background-color: #59a5d8;
	color: #59a5d8;
}

h1,
h2,
h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

h4 {
	text-align: center;
}

li,
a,
button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #91e5f6;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	background-color: #133c55;
}

.logo {
	cursor: pointer;
}

.nav_link {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a button {
	transition: all 0.3s ease 0s;
}

.nav_links li a button:hover {
	color: #59a5d8;
}

button {
	padding: 9px 25px;
	background-color: rgba(89, 165, 216, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(89, 165, 216, 0.6);
}

.orange {
	padding: 9px 25px;
	background-color: rgba(226, 125, 96, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.orange:hover {
	background-color: rgba(226, 125, 96, 0.6);
}

.index_main,
.index_text {
	display: flex;
	background-color: #59a5d8;
	color: #91e5f6;
	justify-content: space-between;
	padding: 10%;
	align-items: center;
}

.components_main {
	display: flex;
	background-color: #59a5d8;
	color: #91e5f6;
	justify-content: space-between;
	padding: 8%;
	align-items: center;
}

main img {
	height: 50vh;
}

.index_text h1 {
	font-size: 20px;
}

.index_text h2 {
	font-size: 30px;
	font-weight: 500;
}

.components_images {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

.components_images li {
	list-style-type: none;
	align-content: center;
}

.components_cpu {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 30vh;
}

.components_gpu {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 30vh;
}
.components_ram {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 24vh;
}
.components_ssd {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	height: 21vh;
}
