<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta author="Jan van Ierssel" />
		<title>DFPC - CPU</title>
		<link rel="stylesheet" href="../stylesheet.css" />
	</head>

	<body>
		<div class="all">
			<header>
				<a href="../index.html"
					><img src="../images/logo.jpg" alt="logo_placeholder" height="70px"
				/></a>
				<nav>
					<ul class="nav_links">
						<li>
							<a href="#"
								><button class="header_cpu"><span>CPU</span></button></a
							>
						</li>
						<li>
							<a href="#"
								><button class="header_gpu"><span>GPU</span></button></a
							>
						</li>
						<li>
							<a href="#"
								><button class="header_ram"><span>RAM</span></button></a
							>
						</li>
						<li>
							<a href="#"
								><button class="header_mobo"><span>MoBo</span></button></a
							>
						</li>
						<li>
							<a href="#"
								><button class="header_ssd"><span>SSD</span></button></a
							>
						</li>
					</ul>
				</nav>
				<a href="#"><button class="orange">Contact</button></a>
			</header>

			<main class="cpu_text">
				<div class="chooser">
					<ul>
						<li class="chooser_element">
							<div class="dropdown">
								<button class="dropbtn">Ryzen 5 3600X</button>
								<div class="dropdown-content">
									<h5>6 Cores</h5>
									<br />
									<h5>12 Threads</h5>
									<br />
									<h5>3.8 GHz Baseclock</h5>
									<br />
									<h5><a href="#">Download</a></h5>
								</div>
							</div>
						</li>
						<li class="chooser_element"></li>
						<li class="chooser_element"></li>
					</ul>
				</div>
				<div>
					<h1>Choose your</h1>
					<h2>Central Processing Unit</h2>
				</div>
			</main>
		</div>

		<!-- 	This filler part makes sure the background is always blue even when the screeen is stretched out pretty far. Otherwise you would get a white space 
				This probably isn't the correct way of doing it but I couldn't find the correct way of doing it. Background color doesn't work because the corners of
				the rounded buttons in the header would also turn light blue.-->
		<div class="filler">
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
	</body>
</html>
