<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta author="Jan van Ierssel" />
		<title>DFPC - CPU</title>
		<link rel="stylesheet" href="../stylesheet.css" />
	</head>

	<body>
		<div class="all">
			<header>
				<a href="../index.html"
					><img src="../images/logo.png" alt="logo_placeholder" class="logo"
				/></a>
				<nav>
					<ul class="nav_links">
						<li>
							<a href="cpu.html"
								><button class="header_cpu"><span>CPU</span></button></a
							>
						</li>
						<li>
							<a href="gpu.html"
								><button class="header_gpu"><span>GPU</span></button></a
							>
						</li>
						<li>
							<a href="ram.html"
								><button class="header_ram"><span>RAM</span></button></a
							>
						</li>
						<li>
							<a href="ssd.html"
								><button class="header_ssd"><span>SSD</span></button></a
							>
						</li>
					</ul>
				</nav>
				<a href="../contact.html"><button class="orange">Contact</button></a>
			</header>

			<main class="components_body">
				<div class="components_body_child">
					<div class="chooser">
						<ul>
							<li class="chooser_element">
								<img
									class="ssd_pic"
									src="../images/kingston a400.png"
									alt="kingston a400"
								/>
								<br />
								<div class="dropdown">
									<button class="dropbtn">Kingston A400</button>
									<div class="dropdown-content">
										<br />
										<h5>480GB</h5>
										<br />
										<h5>500MB/s Read</h5>
										<br />
										<h5>2.5" Formfactor</h5>
										<br />
										<h5>
											<a
												href="https://www.youtube.com/watch?v=djV11Xbc914&list=PLTBcA8dwfcf_hhtjgRMKO0aQlmM2-Hvja&index=20&t=0s"
												target="_blank"
												>Download</a
											>
										</h5>
									</div>
								</div>
							</li>
							<li class="chooser_element">
								<img
									class="ssd_pic"
									src="../images/samsung 860 evo.png"
									alt="samsung 860 evo"
								/>
								<br />
								<div class="dropdown">
									<button class="dropbtn">Samsung 860 EVO</button>
									<div class="dropdown-content">
										<br />
										<h5>1000GB</h5>
										<br />
										<h5>550MB/s Read</h5>
										<br />
										<h5>2.5" Formfactor</h5>
										<br />
										<h5>
											<a
												href="https://www.youtube.com/watch?v=rY-FJvRqK0E&list=PLTBcA8dwfcf_hhtjgRMKO0aQlmM2-Hvja&index=14&t=0s"
												target="_blank"
												>Download</a
											>
										</h5>
									</div>
								</div>
							</li>
							<li class="chooser_element">
								<img
									class="ssd_pic"
									src="../images/samsung 970 pro.png"
									alt="samsung 970 pro"
								/>
								<br />
								<div class="dropdown">
									<button class="dropbtn">Samsung 970 PRO</button>
									<div class="dropdown-content">
										<br />
										<h5>1000GB</h5>
										<br />
										<h5>3500MB/s</h5>
										<br />
										<h5>M.2 Formfactor</h5>
										<br />
										<h5>
											<a
												href="https://www.youtube.com/watch?v=4feUSTS21-8&list=PLTBcA8dwfcf_hhtjgRMKO0aQlmM2-Hvja&index=24&t=0s"
												target="_blank"
												>Download</a
											>
										</h5>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<h2>Choose your</h2>
					<h1>Solid State Drive</h1>
				</div>
			</main>
		</div>

		<!-- 	This filler part makes sure the background is always blue even when the screeen is stretched out pretty far. Otherwise you would get a white space 
				This probably isn't the correct way of doing it but I couldn't find the correct way of doing it. Background color doesn't work because the corners of
				the rounded buttons in the header would also turn light blue.-->
		<div class="filler">
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
	</body>
</html>
